.digitaltimer{
    display: flex;
    align-items: center;
    justify-content: center;

    &-inner{
        width: 450px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        justify-content: center;
        background-color: #EEEEEE;
    }

    &-logo{
        position: absolute;
        margin-top: 1rem;
        top: 0;
    }

    &-timer{
        margin-bottom: 5rem;
        font-size: 5rem;
    }

    &-button{
        background-color: none;
        padding: 1rem 4rem;
        border: 1px solid black;
        border-radius: 5px;
        transition: all 0.2s;
        position: absolute;
        bottom: 3rem;

        &:hover{
            background-color: red;
            color: white;
            cursor: pointer;
            transform: scale(1.1);
        }
    }

    &-menu{
        border: 0;
        position: relative;
        left: -40%;
        top: -14rem;

        &__item {
            &:hover {
              cursor: pointer;
            }
        }
    }
}