.texttimer {
    font-size: 2rem;
    text-align: center;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;

    &-inner {
        width: 450px;
        height: 100vh;
        background-color: #EEEEEE;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &-minutes,
    &-seconds {
        margin: 1rem 0;
        width: 100%;
        text-align: center;
    }

    &-bold {
        font-weight: bold; 
        font-size: 2.5rem;
        display: inline-block;
        transition: all 0.3s ease; // Enkel CSS-animation när texten uppdateras
    }
}

